:root {
  --gunmetal: #2d3142;
  --ghost-white: #f7f7ff;
  --skobeloff: #007474;
  --white: #ffffff;
  --pumpkin: #f96900;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.btn-background {
  background-color: var(--pumpkin) !important;
}

.btn-text-color {
  color: var(--ghost-white) !important;
}

h1,
h2,
h3 {
  text-align: center;
}

header h1 {
  font-size: 2.5rem !important;
  color: var(--ghost-white);
}

header h2 {
  font-size: 1rem;
  color: var(--pumpkin);
}

header h3 {
  font-size: 1.2rem;
  color: var(--pumpkin);
}

svg {
  color: var(--skobeloff);
}

.left-car-icon {
  margin-right: 8px;
}

.right-car-icon {
  margin-left: 8px;
}

header {
  border-bottom: 5px solid black;
  padding: 20px;
  text-align: center;
  background-color: var(--gunmetal);
}

main {
  display: flex;
  min-height: calc(100vh - 185px);
}

form,
aside {
  flex: 1 1 50%;
  background-color: var(--ghost-white);
}

form .mb-3 {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

aside {
  border-left: 5px solid black;
  display: flex;
  justify-content: center;
}

.monthly-payment-toggle {
  display: none;
}

#monthly-payment-container {
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px 0;
  background-color: var(--skobeloff);
  color: var(--ghost-white);
  max-height: 460px;
  border-radius: 5px;
}

#monthly-payment-display {
  text-align: center;
}

#show-tips-container {
  margin-top: 15px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
}

#show-tips {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  text-align: center;
  margin: 0 10px;
}

@media (max-width: 480px) {
  main {
    display: block;
  }

  form,
  aside {
    flex: none;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  form :placeholder-shown {
    text-align: center;
  }

  .center-form-input {
    text-align: center;
  }

  aside {
    border-left: none;
  }
}
input[type="range"] {
  width: 100%;
  height: 2px;
  -webkit-appearance: none;
  appearance: none;
  background: #ccc;
  outline: none;
  border-radius: 50px;
  opacity: 0.7;
  transition: opacity 0.15s ease-in-out;
}

input[type="range"]:hover {
  opacity: 5;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #f96900; 
  cursor: pointer;
}